.moviedropdownbutton {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color:white;
}

.moviedropdown {
    position: absolute;
    display: inline-block;
    width: 50px;
    left: 25%;
    top: 50%;

  }
  
  .moviedropdown-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    background-color: #28292a;
    top:120%;
    left:-320%;
    width: 360px;
    height: 488px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 3px;
    opacity: 0.9;
  }
  
  .moviedropdown-content p {
    padding: 16px;
    text-decoration: none;
    display: block;
    color:#D4D4D4;
    font-size:20px;
  }
  
  .moviedropdown-content p:hover {
    background-color: #393939;
    cursor: pointer;
    color: white;
  }

.movieDropDownNav{
  text-decoration: none;
}

.movietitle{
  font-size: 25px;
  font-weight: bold;
  white-space: nowrap;
  transition: all 0.5s;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3%;
  border-radius: 10%;

  border: 3px solid transparent;
  border-radius: 7px;
}.movietitle:hover{
  transform: scale(1.2,1.2);
}



