.GenreBackground{
    background-color: black;
    display: flex;
    height: 100vh;
}

.SearchCategoryContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
}

.GenreTitleContainer{
    margin-left: 16.5%;
}

.VodOuterContainer{
    display: flex;
    justify-content: center;
}

.GenreVodContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 67%;
    padding-bottom: 5%;
}

.GenreLabel{
    margin: 2.5% 1.1%;
    transition: all 0.5s;

}.GenreLabel:hover{
    
    transform: scale(1.1,1.1);
}

.GnereVodBox{
    display: flex;
    flex-direction: column;
}

.GenreLink{
    text-decoration: none;
}

.GenreVodTitle{
    margin-top: 0.5%;
    font-weight: 400;
    width: 176px;
    position: absolute;
    color: white;
    word-break: break-all;
    line-height: 95%;
    justify-content: center;
    display: flex;
}

.GenreText{
    display: flex;
    margin-top: 5%;
    margin-left: 17%;
    font-size: 18px;
    color: white;
    text-decoration: underline;
}

.NoGenreText{
    display: flex;
    margin-left: -55.1%;
    margin-top: 5%;
    font-size: 18px;
    color: white;
    text-decoration: underline;
}