.GenreBackground{
    background-color: black;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 3%;
    margin-top:1%;
    overflow-x: hidden;
}

.GenreVodContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    margin-left: 12%;
    margin-bottom: 2%;
    margin-top: -3%;
}

.GenreLabel{
    margin: 2.5% 1.1%;
}

.GnereVodBox{
    display: flex;
    flex-direction: column;
}

.GenreLink{
    text-decoration: none;
}

.GenreVodTitle{
    margin-top: 0.5%;
    font-weight: 400;
    width: 176px;
    position: absolute;
    color: white;
    word-break: break-all;
    line-height: 95%;
    justify-content: center;
    display: flex;
}

.GenreText{
    margin-left: 13%;
    font-size: 18px;
    color: white;
    text-decoration: underline;
}