.LoginButton {
    cursor: pointer;
    background-color: #a50034;
    height: 60px;
    width: 190px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 50%;
    align-content: center;
    justify-content: center;
    padding: 15px;
    &:disabled {
        background-color: #F5ADAD;
      }
}

.LoginInput {
    width: 190px;
    align-content: center;  
    justify-content: center;
    font-size: 21px;
    font-weight: 550;
    height: 30px;
    border-radius: 5px;
    margin-top: 50%;
    margin-left: 33%;
    border: none;
    padding: 15px;
    &::placeholder {
        color:#bababa;
        font-size: 21px;
        font-weight: 550;
        border: none;
    };
    &:focus {
        outline: 2px solid #a50034;
    };
}

.Div {
    display: flex;
    align-items: center;
}

.LoginBackground {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
        to right,
       black 30%,
        transparent 80%),
        url(../assets/background.png);
    background-repeat: repeat;
    background-size:contain;
    background-position: top right;

    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;

    animation-name: BGchange;
}
@keyframes BGchange {
    0%{

        background-image: linear-gradient(
            to right,
           black 30%,
            transparent 80%),
            
            url(https://ch.lghellovision.net/CJH_Files/KOR_NEW/DISPLAY_CONTROL/Poster_jechulnoona2_PC&MO_350x500.jpg);
     }
     20% {
        background-image: linear-gradient(
            to right,
           black 30%,
            transparent 80%),
            url(https://ch.lghellovision.net/CJH_Files/KOR_NEW/DISPLAY_CONTROL/Poster_taegoon_PC&MO_350x5002.jpg);
     }
 
     40% {
        background-image: linear-gradient(
            to right,
           black 30%,
            transparent 80%),
            url(https://img.imbc.com/adams/Program/20237/133336263157781737.jpg);
     }

     60% {
        background-image: linear-gradient(
            to right,
           black 30%,
            transparent 80%),
            url(https://an2-img.amz.wtchn.net/image/v2/3jr6xiKA7PzPP03-I50FTw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5ETXllRFkwTUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk16RXdNVFF6TWprMU9UTXhNRE13T0RVaWZRLk5BanU1dTdOYXZiVC1UcFRCY25aQ1JGOG5oc2F1TG80cUhlWVYwUFdSSmM);
     }

     80% {
        background-image: linear-gradient(
            to right,
           black 30%,
            transparent 80%),
            url(https://image.newsis.com/2022/12/12/NISI20221212_0001151487_web.jpg);
     }

     100% {
        background-image: linear-gradient(
            to right,
           black 30%,
            transparent 80%),
            url(https://www.themoviedb.org/t/p/w600_and_h900_bestv2/30ga057JEPtnOLelCsPSwAD25Wf.jpg);
     }
 }




.LoginLogo{
    height: 90px;
    position: absolute;
    top: -150px;
    left:2%;
    transition: all 0.5s
 }.LoginLogo:hover{
    transform: scale(1.1,1.1);
}

.LoginRobot{
    height: 80px;
    position: absolute;
    top: -20%;
    left:100%;

    animation-name: Rotation;
    animation-duration: 1.8s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes Rotation {
   0%{
        top: -20%;
        left:100%;
        transform: rotate(-360deg);
    }
    50% {
        top: -10%;
        left:115%;
        transform: rotate(-180deg);
    }

    100% {
        top: 5%;
        left:125%;
        transform: rotate(0deg);
    }
}

.playgif{
    width: 70px;
    padding: 20px;
}

.LoginText{
    position: absolute;
    color: white;
    width:max-content;
    font-weight: 1000;
    font-size: 600%;
    margin-top: -50%;
    margin-left:52%;
    display: flex;
    justify-content: center;
    transition: all 0.5s
 }.LoginText:hover{
    transform: scale(1.05,1.05);
}

.Loginwrapper {
    display: inline-flex;
    height: 120px;
    width: 880px;
    position: absolute;
    left: 33%;
    display: grid;
    white-space: wrap;
    line-height: 40px;
  }
  
  .typing-demo {
    line-height: 40px;
    width: 880px;
    animation: typing 3s steps(40), blink .5s step-end infinite alternate;
    white-space: nowrap;
    color: white;
    overflow: hidden;
    border-right: 3px solid transparent;
    font-size: 25px;
    font-weight: 400;
    font-family: "NotoSans-KR";
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.LoginImg1{
    position: absolute;
    width: 40%;
    left: 50%;
    top: 15%;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all 0.5s
    

}.LoginImg1:hover{
    transform: scale(1.1,1.1);

}

.LoginImg2{
    position: absolute;
    width: 40%;
    left: 58%;
    top: 40%;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all 0.5s

}.LoginImg2:hover{
    transform: scale(1.1,1.1);
}