.Mypagebg{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.MyPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3%;
}

.LinkText{
    display: inline;
    margin-right: 1%;
    text-decoration-line: none !important;
    color:white;
}

.ProgressBar{
    display:flex;
    position: relative;
    top: -11px;
    right: -1px;
}

progress {
    appearance: none;
}
progress::-webkit-progress-bar {
    background:transparent;
    opacity: 0.7;
    width: 177px;
    height: 10px;
    border-radius:2px;
}
progress::-webkit-progress-value {
    border-radius:2px;
    background: #a50034;
}

.Rating{
    display: block;
}

.RatingImgContainer{
    display:block;
    width: auto; 
    height: 170px; 
    border-radius: 3px; 
    overflow: hidden;
    border: 1px black solid;
    display: inline-flex;
    cursor: pointer;
}

.RatingImg{
    align-self: stretch;
    flex: 1 1 0;
}

.RatingTitleContainer{
    color:white;
}

.RatingDate{
    display: flex;
    margin-left: 2%;
    white-space: nowrap;
    
}

.Review{
    display: flex;
    flex-wrap: nowrap;
    margin-top: auto;
    margin-bottom: 3%;
    color:white;
}

.RatingDataContainer{
    margin-left: 2%;
    display:flex;
    flex-direction: column;
    line-height:140%
}

.fig{
    border-color:black;
}

.RatingContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.RatingError{
    margin-left: 15%;
    margin-bottom: 5%;
    font-size: 18px;
    color: white;
    text-decoration: underline;
    height: 250px;
}

.ReviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.MyPageTitle{
    display: flex;
    margin-left: 16%;
}
