.NoResBg{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NoResponseText{
    display: flex;
    text-align: center;
    justify-content: center;
    color:white;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20%;
  }

.BtnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.BackBtn{
  width: 100px;
  height: 40px;
  border: 1px solid #a50034;
  border-radius: 3px;
  color:white;
  background-color: #a50034;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}



