.SearchBackground{
    background-color: black;
    display: flex;
    height: 100vh;
}

.SearchPageContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
}

.SearchTitle{
    margin-left: 16.5%;
}

.SearchOuterContainer {
    display: flex;
    justify-content: center;
}

.SearchVodContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 67%;
}

.SearchLabel{
    margin: 2.5% 1.1%;
}

.NoResult{
    margin-left: 16.5%;
    margin-top: 2%;
    margin-bottom: 3%;
    color:white;
    font-weight: bold;
    font-size: 20px;
}

.SearchVodBox{
    display: flex;
    flex-direction: column;
}

.SearchVodTitle{
    margin-top: 0.5%;
    font-weight: 400;
    width: 176px;
    position: absolute;
    color: white;
    word-break: break-all;
    line-height: 95%;
    justify-content: center;
    display: flex;
}

.SearchLink{
    text-decoration: none;
}

.SearchText{
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
    font-size: 18px;
    color: white;
    text-decoration: underline;
}