.SearchBackground{
    background-color: black;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 12%;
}

.SearchVodContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.SearchLabel{
    margin: 2% 2%;
}

.SearchTitle{
    margin-left: -3%;
    margin-top: 4%;
}

.NoResult{
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 3%;
    color:white;
    font-weight: bold;
    font-size: 20px;
}